# /[folder name] : 루트 디렉터리의 하위 폴더인 경우만 제외

# [folder name]/ : 모든 폴더 기준으로 제외
venv/

# .[확장자]

# [디렉터리명]/[파일명]

# .[파일명] : 루트 디렉터리의 파일 무시

# 모든 확장자 .a 파일을 무시
# *.a
 
# 무시하는 모든 확장자 .a 파일들 중에서 lib.a 파일은 무시하지 않음
# !lib.a

# 현재 폴더 중에서 doc 폴더 바로 밑에 있는 .txt 확장자 파일만 모두 무시
# 단, doc/server/ss.txt 와 같은 형식에서는 .txt 확장자 파일이 무시되지 않음
# doc/*.txt
 
# 현재 폴더 중에서 doc 폴더 하위에 있는 .pdf 확장자 파일은
# doc 폴더 하위 어떤 폴더에 들어 있더라도 모두 무시
# doc/**/*.pdf